
@media screen and (max-width:750px){
	.header{
	  	width:100%;	  	
	  	text-align:center;
	 	.header__logo{
	  		width: 40%;  		
	  	}	  	  	
	  	.nav__primary {
	  		width:100%;
	  		max-width:1000px;
	  		margin:20px auto;
	  		background: #024959;
	  		.nav__list {
	  			overflow:hidden;
	  			list-style:none;
	  			.nav__item{
	  				float:left;
	  				.nav__link{
	  					color: #fff;
	  					padding: 20px;
	  					display:block;
	  					text-decoration:none;
	  					&:hover{
	  						background: #037E8C;
	  					}
	  				}
	  			}
	  		}	  		
		}	
	}
	.section__article--desc{
		padding: 20px;
		
		.section__img{			 
			overflow:hidden;
			text-align:center;
		}		
	}	
		
	footer{
		text-align: center;
		margin-top: 20px;
		background: #024959;
		display: flex;
		justify-content: space-evenly;
		padding: 15px;
		align-items: center;
		img{
	  		width: 82px;  		
	  	}
	}	  
 }