@media screen and (min-width:750px){
	.header{
	  	width:100%;	  	
	 	.header__logo{
	  		width: 20%;  		
	  	}
	  	.nav__primary{
	  		width:100%; 
			padding: 6px; 
		  	margin-top:-6%;
		  	margin-bottom: 6.5%;		  		  		
		  	background: #ffffff;
	  		.nav__list {	
	  			margin-left: 35%;  			
	  			overflow:hidden;
	  			.nav__item{
	  				float:left;
	  				.nav__link{	  				
		  				font-size: x-large;
		  				color: black;
		  				padding: 15px;
		  				display:block;
		  				text-decoration:none;
		  				&:hover{
		  					background: #037E8C;
		  				}
		  			}
	  			}	  			
	  		}	  		
		}
	}	
	.section__article--desc{
		display:flex;
		flex-wrap:wrap;		
		
		width: 100%;
				
		justify-content: center;

		.section__img{			 
			overflow:hidden;
			text-align:center;
		}
		.article__title{
			text-align:center;
			font-size:xx-large;
			font-family: 'Dancing Script', cursive;
		}
		.article__text{	
			text-align:center;
			font-size:xx-large;		
			max-width:800px;
			overflow:hidden;
			font-family: 'Dancing Script', cursive;
		}			
	}

	.footer{		
		text-align: center;
		margin-top: 75px;
		background: #024959;
		display: flex;
		justify-content: space-evenly;
		padding: 15px;
		align-items: center;
		.footer__logo{
	  		width: 8%;  		
	  	}
	}	
}
