* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    text-align: center;
  }
  .header .header__logo {
    width: 40%;
  }

  .header .nav__primary {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background: #D863FF;
  }
  .header .nav__primary .nav__list {
    overflow: hidden;
    list-style: none;
  }
  .header .nav__primary .nav__list .nav__item {
    float: left;
  }
  .header .nav__primary .nav__list .nav__item .nav__link {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
  }
  .header .nav__primary .nav__list .nav__item .nav__link:hover {
    background: #F3A8F3;
  }
  .section__article--desc {
    padding: 20px;
  }
  .section__article--desc .section__img {
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
  }
  .section__article--desc .article__title {
    text-align: center;
    font-size: xx-large;
    font-family: 'Galada', cursive;
  }
  .section__article--desc .article__text {
    text-align: center;
    padding: 45px;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
  }
  .section__article--desc .article__text_about{
    text-align:justify;
    padding: 45px;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
  }
  footer {
    text-align: center;
    margin-top: 20px;
    background: #E163FF;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
  }
  footer img {
    width: 82px;
  }
}

@media screen and (min-width: 750px) {
  .header {
    width: 100%;
  }
  .header .header__logo {
    width: 20%;
  }
  .header .nav__primary {
    width: 100%;
    padding: 6px;
    margin-top: -6%;
    margin-bottom: 6.5%;
    background: #ffffff;
  }
  .header .nav__primary .nav__list {
    margin-left: 35%;
    overflow: hidden;
  }
  .header .nav__primary .nav__list .nav__item {
    float: left;
  }
  .header .nav__primary .nav__list .nav__item .nav__link {
    font-size: x-large;
    color: black;
    padding: 15px;
    display: block;
    text-decoration: none;
  }
  .header .nav__primary .nav__list .nav__item .nav__link:hover {
    background: #D863FF;
  }
  .section__article--desc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

  }
  .section__article--desc .section__img {
    overflow: hidden;
    text-align: center;
  }
  .section__article--desc .article__title {
    text-align: center;
    font-size: xx-large;
    font-family: 'Galada', cursive;
  }
  .section__article--desc .article__text {
    text-align: center;
    padding: 45px;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
  }
  .section__article--desc .article__text_about{
    text-align:justify;
    padding: 45px;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
  }
  .footer {
    text-align: center;
    margin-top: 75px;
    background: #E163FF;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
  }
  .footer .footer__logo {
    width: 20%;    
  }  

}
.footer__logo:hover {
    transform: translateX(10px) translateY(10px);      
  }
.footer__logo{
  transition: all 0.25s;
}
